* {margin:0;padding:0;border:none;font-family:Arial,sans-serif; color:rgb(32,32,32);background-color: #E9F0F0; box-sizing:border-box; -moz-box-sizing:border-box;}

html{height: 100%;}
body{height:100%;}

h1{
	font-size: 40px;
	color: rgb(128,128,128);
	padding:15px;
	padding-bottom: 0;
}
.field{
	display:block;
	white-space:nowrap;
	vertical-align:top;
	font-size:0;
	margin:15px;
}
.fieldLabel{
	display:inline-block;
	width:40%;
	font-weight: bold;
	vertical-align:top;
	white-space: normal;
	word-break: break-word;
	font-size:16px;
}
.fieldContent{
	display:inline-block;
	width:60%;
	white-space: normal;
	vertical-align:top;
	word-break: break-word;
	font-size:16px;
}

.combo{
	min-width:100px;
	border: solid 1px rgb(32,32,32);
	background-color: white;
}

.button{
	display:inline-block;
	padding:5px;
	margin:0;
	background-color: rgb(192,192,192);
	border: solid 1px rgb(32,32,32);
	cursor:pointer;
	font-size:14px;
	text-decoration: none;
}
.button:hover{
	background-color: rgb(240,240,240);
}

.textBox{
	border: solid 1px rgb(32,32,32);
	font-size:14px;
	background-color: white;
}

#divConsoleContainer{
	margin:5px;
}
#divConsoleContainer .button{
	padding:2px;
}
#divConsole{
	color: grey;
	background-color: black;
	font-family: Monospace;
	padding: 5px;
	height:250px;
	overflow: auto;
}
#divConsole p{
	color: grey;
	background-color: black;
	font-family: Monospace;
}
#divConsole p.command{
	font-weight: bold;
}
#divConsole p.error{
	color: red;
}

form{
	white-space: nowrap;
	height: calc(100% - 105px);
}

#divColLeft{
	box-sizing: border-box;
	display: inline-block;
	width:40%;
	vertical-align:top;
}

#divColLeft .button{
	margin-top: 5px;
}

#divColRight{
	box-sizing: border-box;
	display: inline-block;
	width:59%;
	height: 100%;
	padding: 15px;
	vertical-align:top;
}
#divColRight .previewDoc{
	box-sizing: border-box;
	width:100%;
	height: calc(100% - 35px);
	border: solid 1px rgb(32,32,32);
}

#divColRight .button{
	margin-bottom: 5px;
}

.divLoadBack{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
}

.divLoading{
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	border: 1px solid black;
	padding: 10px 10px 10px 50px;
	box-sizing: border-box;
	line-height: 30px;
	width: 150px;
	text-align: center;
	height: 75px;
	margin: -37px auto 0px -75px;
	background-image: url("images/loading.gif");
	background-repeat: no-repeat;
	background-position: 25px 20px;
}

.divProgressCont{
	position:absolute;
	top: 40px;
	left: 12px;
	width: 125px;
	height: 20px;
	box-sizing: border-box;
	border: solid 1px black;
}

.divProgressBar{
	position:absolute;
	top: 0;
	left: 0;
	height: 18px;
	background-color: black;
	box-sizing: border-box;
}

.width100px {
	width: 100px;
	max-width: 100%;
}

.width50px {
	width: 50px;
	max-width: 100%;
}